body{
	
	background-color: white;
	color: #ffffff;
	font-family: arial, verdana, "times new roman";
	
}

nav ul li{
	background-color: none;
	list-style-type: none;
}



h2 {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

h2 {
   font-family: myFirstFont;
   src: url(sansation_bold.woff);
   font-weight: bold;
   font-size: 30px;
}

* {
   font-family: myFirstFont;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: arvo;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

div {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 100px;
  padding-left: 10px;
    border: 1px solid black;
  background-color: gray;
}

