body{
	background-color: #000000;
	color: #bbbbbb;
	font-family: arial, verdana, times;
}

a:link{
	color: #ccccccc;
	text-decoration: none;
}

a:hover{
	color: #ffbb99;
	text-decoration: underline;
	background-color: #aabbcc;
}
	
a:active{
	color: #aacc99;
	text-decoration: none;
}

a:visited{
	color: #ddcc99;
	text-decoration: none;
}	